### Build output ###
target/
out/
build/
dist/
*.class

# Keep Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Do not ignore target/build folders inside source folders if they ever exist
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/


### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr


### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### VS Code ###
.vscode/


### OS files ###
.DS_Store
Thumbs.db


### Logs ###
*.log


### Keep project libraries ###
# Do not ignore lib because ATPProjectJAR.jar is required for Part C
